.main-panel {
  margin: 0;
  background-color: #d6d6d6;
}

.under-panel {
  text-align: center;
  background-color: #dddddd;
}

.under-panel > .under-column {
  display: inline-block;

}

.under-column:nth-child(odd) {
  background-color: #ffffff;
}

.under-column:nth-child(even) {
  background-color: #8e8e8e;
}

.under-column > ul > li > a > div {
  display: inline-block;
  vertical-align: top;
}
