<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>utf-8</page-encoding>
            <include-prelude>/common/header.jsp</include-prelude>
            <include-coda>/common/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.yasukagi.servlet.testServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>main-panel</servlet-name>
        <servlet-class>com.yasukagi.servlet.PanelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main-panel</servlet-name>
        <url-pattern>/mainpanel</url-pattern>
    </servlet-mapping>
</web-app>